@media print
{
	.menu
	{
		display: none;
	}
	.header
	{
		background-color: #ffffff;
		color: #000000;
	}
	#bodyDiv
	{
		width: 100%
	}
	#total
	{
		width: 100%;
	}
}

@media handheld
{
	#menu
	{
		display: none;
	}
	#header
	{
		height: 30px !important;
	}
	#header h1
	{
		padding-left: 30px !important;
		padding-top: 10px !important;
		font-size: 13pt;
	}
}

/* CSS Reset */
*
{
	margin: 0;
	padding: 0;
	font-family: Verdana;
}

A, A:link, A:visited
{
	color: #0000ff;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
}

A:hover
{
	color: red;
}

body
{	width: 100%;
	background-color: rgb(240, 240, 240);
}

#header
{
	height: 70px;
	width: 100%;
	color: black;
}

#headerright
{	
	background: -webkit-gradient(linear, left, right, from(#BABABA), to(#000));
	background: -moz-linear-gradient(left,  #BABABA, #000);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#BABABA', endColorstr='#000000');
}

#headerleft
{	
	width: 25%;
	background: -webkit-gradient(linear, right, left, from(#BABABA), to(#000));
	background: -moz-linear-gradient(right,  #BABABA,  #000);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#000000', endColorstr='##BABABA');
}

#header h1
{
	margin: 0 0;
	padding-left: 200px;
	padding-right: 0pt;
	width: 300px;
}

#bodyDiv
{
	margin-top: 0px;
	padding: 20px;
	width: 540px;
}

#bodyDiv p
{
	margin-top: 0;
}

#footer
{
	border-top: 1px solid #DCDCC8;
	bottom: 5px;
	font-size: 7pt;
	font-weight: 600;
	left: 0;
	text-align: center;
	width: 100%;
	padding: 5px 0 5px 0;
	position: static;
	font-family: Sans-Serif;
}

#total
{
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	background-color: #ffffff;
	margin: 0 auto;
	width: 800px;
}

.bordertable
{
	text-align: left;
	border: solid 1px #000000;
	border-collapse: collapse;
}

.bordertable tr td
{
	text-align: left;
}

.bordertable tr th
{
	text-align: left;
	border: solid 1px #000000;
}

.bordertable tr td
{
	border: solid 1px #000000;
}

.accountsectiontitle
{
	font-size: 11pt;
	border-bottom: solid 1px #000000;
}

.accountsectiontitlelink
{
	float: right;
	font-size: medium;
}

.accountsectioncontent
{
	margin: 5px;
	font-size: 10pt;
}

.errormessage
{
	border: 1px solid #CC6600;
	background-color: #FFCC00;
	margin: 0px;
	padding-left: 5px;
}

#rightcol
{
	float: right;
	display: block;
	padding-top: 20px;
	width: 230px;
}

#rightcol .colheadline
{
	font-weight: 700;
	border-bottom: solid 1px #cccccc;
	font-size: 9pt;
}

#rightcol ul
{
	list-style-type: square;
}

#rightcol ul li
{
	font-size: 9pt;
	margin-left: 20px;
}

table tr th
{
	font-size: 80%;
	font-weight: normal;
}

.headertable
{
	border-collapse: collapse;
	border: solid 1px #000000;
}

.headertable tr th
{
	background-color: rgb(240, 240, 240);
	border-bottom: solid 1px rgb(170, 170, 170);
}

#tasklist
{
	margin-bottom: 10px;
	margin-left: 10px;
	margin-top: 7px;
	padding-left: 0;
	list-style-position: inside;
	list-style-type: square;
}

.popupouter
{
	height: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 101;
}

.popupmid
{
	height: 0;
	margin: auto;
	overflow: visible;
	position: relative;
	top: 125px;
	width: 465px;
}

.popupinner
{
	background-color: White;
	border: solid 1px #000000;
	-moz-box-shadow: 0 5px 20px 0 rgba(128, 128, 128, 1);
}

.popuptitle
{
	font-size: 12pt;
	font-weight: 700;
	background-color: black;
	color: white;
	padding-left: 10px;
}

.popupcontent
{
	padding: 5px;
}

.popupbuttons
{
	float: right;
}

#popupbuttoncontainer
{
	height: 26px;
}

#ProminantMyUsername:hover
{
	text-decoration: underline;
}

.BackShadow
{
	-webkit-box-shadow: 0px 7px 10px rgba(127,127,127,0.5);
	-moz-box-shadow: 0px 7px 10px rgba(127,127,127,0.5);
	box-shadow: 0px 7px 10px rgba(127,127,127,0.5);
}