@media print
{
	#StatusUpdateContainer, #rightcol
	{
		display: none;
	}
}

.statusbody
{
	padding-left: 5px;
	font-family: "Verdana";
	color: #444;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.2em;
	font-size: 10pt;
}

#feed li
{
	margin-bottom: 5px;
	background-color: #F7F7FF;
	-moz-border-radius: 5px;
	padding: 5px;
}

#feed .ArticleBody
{
	min-height: 50px;
	padding-left: 5px;
}

#feed .ArticleUserHref
{
	font-size: 10pt;
	line-height: 10px;
	font-weight: bold;
}

#feed .ArticleMainImageContainer
{
	vertical-align: top;
	width: 32px;
}

#feed .ArticleCommandBar
{
	font-family: Verdana;
	padding-top: 5px;
	word-spacing: -1.5pt;
	text-align: left;
	letter-spacing: 0;
	line-height: 0.1em;
	font-size: 8pt;
}

#feed li table.ArticleTable
{
	width: 100%;
}

#feed table.ArticleCommandBar td.ArticleTimestamp
{
	min-width: 50px;
	color: gray;
}

#statusupdate
{
	-webkit-transition-delay: 0s, 0s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-property: border, -moz-box-shadow;
	-webkit-transition-timing-function: linear, linear;
	-webkit-border-radius: 3px;
	-moz-transition-delay: 0s, 0s;
	-moz-transition-duration: 0.2s, 0.2s;
	-moz-transition-property: border, -moz-box-shadow;
	-moz-transition-timing-function: linear, linear;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #aaaaaa;
	margin-bottom: 10px;
	margin-top: 2px;
	margin-right: 10px;
	padding: 5px;
	min-width: 530px;
	max-width: 530px;
	min-height: 25px;
	height: 25px;
	max-height: 75px;
	font-family: 'helvetica', 'Verdana', sans-serif;	
}

#statusupdate:hover
{
	box-shadow: 0 0 5px 0 rgba(82, 168, 236, 0.5);
}

#statusupdate:focus
{
	-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 20px rgba(82, 168, 236, 0.5);
	border: 1px solid rgba(82, 168, 236, 0.75);	
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
}

.faded
{
	color: #cccccc;
	text-align: center;
	resize: none;
}

.CommentAttachNode
{
	width: 250px;
	margin-right: auto;
	padding-left: 40px;
}

tr.ArticlePostCommentTr textarea
{
	height: 25px;
	min-height: 25px;
	width: 200px;
	min-width: 200px;
	max-width: 450px;
	max-height: 70px;
}

#MyDisplayImageByUpdatebox
{
	width: 64px;
	height: 64px;
	-webkit-transition: -webkit-box-shadow 0.3s ease-out;
	-moz-transition: -moz-box-shadow 0.3s ease-out;
}

#MyDisplayImageByUpdatebox:hover
{
	-webkit-box-shadow: 0px 7px 15px rgba(0,127,125, 1);
	/*-moz-box-shadow: 0px 7px 15px rgba(0,127,125,1);*/
	box-shadow: 0px 7px 15px #C4C100;
}

#UserHoverCard
{
	position: absolute;
	z-index: 10;
	background-color: #ffffff;
	width: 300px;
	height: 150px;
	border: 1px solid #000000;
}

#UserHoverCardContent
{
	width: 100%;
}

.SuggestionBox
{
	position: absolute;
	background-color: rgb(240, 240, 240);
	width: 520px;
	border-width: 0pt 1px 1px;
	border-style: solid;
	border-color: black;
	padding: 5px;
	margin-left: 5px;
	margin-top: -10px;
	-moz-border-radius: 0pt 0pt 5px 5px;
}

.SuggestionBox ul
{
	list-style: none;
	padding-top: 0;
}

.SuggestionBox ul li
{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px #AAA solid;
	padding-left: 5px;
}

.SuggestionBox ul li:hover
{
	background-color: #DCDCDC;
	cursor: pointer;
	-moz-border-radius: 2px;
	border-radius: 4px;
}

.SuggestionBox ul li:last-child
{
	border-bottom: 0;
}