<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Warning" propagateActivity="false">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
			<add initializeData="web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<add key="SaltDecryptionKey" value="wLP1Ce4L-QnxYr6sR5HT1lMqBV8U0p/G" />
	</appSettings>
	<connectionStrings>
		<add name="NexusCoreConnectionString" connectionString="Server=.\SQLEXPRESS;Database=NexusCore;Integrated Security=True;Application Name=NexusCore" providerName="System.Data.SqlClient" />
		<add name="GeoDataConnectionString" connectionString="Server=.\SQLEXPRESS;Database=GeoData;Integrated Security=True;Application Name=NexusCore" providerName="System.Data.SqlClient" />
		<add connectionString="Server=.\SQLEXPRESS;Initial Catalog=NexusAuditLog;Integrated Security=True;Application Name=NexusCore" name="NexusAuditLogConnectionString" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<trace enabled="true" />
		<compilation targetFramework="4.0" debug="true" defaultLanguage="c#"></compilation>
		<authentication mode="None" />
		<pages clientIDMode="AutoID" />
		<sessionState allowCustomSqlDatabase="true" cookieName="NexusCore_Session" customProvider="" mode="SQLServer" sqlConnectionString="Server=.\SQLEXPRESS;Database=SessionState;Integrated Security=True;Application Name=NexusCore" timeout="60" />
	</system.web>
	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" />
			<endToEndTracing activityTracing="false" messageFlowTracing="false" />
		</diagnostics>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="WindowsPhoneBinding" allowCookies="true" useDefaultWebProxy="true" />
				<binding name="Json" allowCookies="true" />
			</basicHttpBinding>
			<customBinding>
				<binding name="WindowsPhone">
					<textMessageEncoding />
					<httpTransport allowCookies="true">
						<extendedProtectionPolicy policyEnforcement="Never" />
					</httpTransport>
				</binding>
				<binding name="Default">
					<binaryMessageEncoding />
					<httpTransport allowCookies="true">
						<extendedProtectionPolicy policyEnforcement="Never" />
					</httpTransport>
				</binding>
				<binding name="AdminChannelBinding">
					<binaryMessageEncoding />
					<httpTransport authenticationScheme="Anonymous" />
				</binding>
			</customBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="WebIMBehavior" name="NexusCore.Services.WebIMService">
				<endpoint address="winphone" binding="customBinding" bindingConfiguration="WindowsPhone" name="WindowsPhone" contract="NexusCore.Services.IWebIMWinPhone" />
				<endpoint address="mex" binding="mexHttpBinding" name="Metadata" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="CoreServiceBehavior" name="NexusCore.Services.CoreService">
				<endpoint address="" binding="customBinding" bindingConfiguration="Default" name="Default" contract="NexusCore.Services.ICoreService" />
				<endpoint address="locjs" binding="basicHttpBinding" bindingConfiguration="Json" name="Web" contract="NexusCore.Services.ICoreService" />
				<endpoint address="mex" binding="mexHttpBinding" name="Metadata" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="AdminChannelBehavior" name="NexusCore.Services.AdminChannel">
				<endpoint address="" binding="customBinding" bindingConfiguration="AdminChannelBinding" contract="NexusCore.Services.IAdminChannel">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="AuthTokenBehavior" name="NexusCore.Services.AuthTokenService">
				<endpoint binding="basicHttpBinding" bindingConfiguration="WindowsPhoneBinding" contract="NexusCore.Services.IAuthTokenService" />
				<endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="Metadata" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WebIMBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="CoreServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="AdminChannelBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="AuthTokenBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="AjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="CoreService" stopProcessing="true">
					<match url="^CoreService(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="Services/CoreService.svc{R:1}" appendQueryString="true" />
				</rule>
				<rule name="WebIM" stopProcessing="true">
					<match url="^WebIM(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="Services/WebIM.svc{R:1}" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="ServiceWsdlFix" preCondition="Wsdl" patternSyntax="Wildcard">
					<match filterByTags="CustomTags" customTags="WsdlLinks" pattern="*/Services/*.svc*" />
					<action type="Rewrite" value="{R:1}/{R:2}{R:3}" />
				</rule>
				<rule name="CoreServiceWsdlFix1" preCondition="Wsdl" patternSyntax="ECMAScript">
					<match filterByTags="None" pattern="Services/(\w*).svc(\/\w*)?" />
					<action type="Rewrite" value="{R:1}{R:2}" />
				</rule>
				<preConditions>
					<preCondition name="Wsdl">
						<add input="{HTTP_X_ORIGINAL_URL}" pattern="^$" negate="true" />
						<!-- ^$ basically means is null -->
						<add input="{QUERY_STRING}" pattern="wsdl|xsd" />
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="text/xml" />
					</preCondition>
				</preConditions>
				<customTags>
					<tags name="WsdlLinks">
						<tag name="wsdl:import" attribute="location" />
						<tag name="soap:address" attribute="location" />
						<tag name="soap12:address" attribute="location" />
						<tag name="xsd:import" attribute="schemaLocation" />
						<tag name="xs:import" attribute="schemaLocation" />
					</tags>
				</customTags>
			</outboundRules>
		</rewrite>
		<tracing>
			<traceFailedRequests>
				<add path="*.svc">
					<traceAreas>
						<add provider="ASP" verbosity="Verbose" />
						<add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
						<add provider="ISAPI Extension" verbosity="Verbose" />
						<add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
					</traceAreas>
					<failureDefinitions statusCodes="404" />
				</add>
			</traceFailedRequests>
		</tracing>
		<security>
			<authorization>
				<clear />
			</authorization>
		</security>
		<directoryBrowse enabled="true" />
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="E:\inetpub\smtp" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>