<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NewsFeedPushServer.Properties.Settings.NexusCoreConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NexusCore;Integrated Security=True;Application Name=&quot;WebSocket Server&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>