<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CloudTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="NexusCoreConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NexusCore;Integrated Security=True;Application Name=CloudTests" providerName="System.Data.SqlClient" />
		<add name="NexusAuditLogConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NexusAuditLog;Integrated Security=True;Application Name=CloudTests" providerName="System.Data.SqlClient" />
		<add name="CloudTests.Properties.Settings.NexusCoreConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NexusCore;Integrated Security=True;Application Name=CloudTests" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<applicationSettings>
		<CloudTests.Properties.Settings>
			<setting name="NexusCoreBaseUri" serializeAs="String">
				<value>http://core.nexus-im.com</value>
			</setting>
		</CloudTests.Properties.Settings>
	</applicationSettings>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="Default">
					<binaryMessageEncoding />
					<httpTransport allowCookies="true" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://core.nexus-im.com/Services/CoreService.svc" binding="customBinding" bindingConfiguration="Default" contract="NexusCore.CoreService" name="Default" />
		</client>
	</system.serviceModel>
	<appSettings>
		<add key="SaltDecryptionKey" value="wLP1Ce4L-QnxYr6sR5HT1lMqBV8U0p/G" />
	</appSettings>
</configuration>