<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WebTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
		</configSections>
	<dataCacheClient requestTimeout="5000" channelOpenTimeout="3000" maxConnectionsToServer="1">
		<localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="10000"/>
		<hosts>
			<host name="hal9001" cachePort="22233"/>
		</hosts>
		<securityProperties mode="Transport"/>
	</dataCacheClient>
	<connectionStrings>
		<add name="WebTests.Properties.Settings.NexusCoreConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NexusCore;Integrated Security=True;Application Name=WebTests" providerName="System.Data.SqlClient"/>
		<add name="NexusCoreConnectionString" connectionString="Server=.\SQLEXPRESS;Database=NexusCore;Integrated Security=True;Application Name=WebTests" providerName="System.Data.SqlClient"/>
		<add name="GeoDataConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GeoData;Integrated Security=True;Application Name=WebTests" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<userSettings>
		<WebTests.Properties.Settings>
			<setting name="FireEagle_ConsumerKey" serializeAs="String">
				<value>SmkThhsxhnJK</value>
			</setting>
			<setting name="FireEagle_ConsumerSecret" serializeAs="String">
				<value>zMsAXNg8lUyT0gXaWooJXgUMGgH5ZEB7</value>
			</setting>
			<setting name="NexusWebRootUri" serializeAs="String">
				<value>http://dev.nexus-im.com/</value>
			</setting>
		</WebTests.Properties.Settings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
