<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProtocolTests.Properties.Settings.UserProfileTest"
            connectionString="Data Source=&quot;|DataDirectory|\UserProfile.sdf&quot;;Persist Security Info=False;" />
    </connectionStrings>
</configuration>