<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NexusWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<dataCacheClient requestTimeout="5000" channelOpenTimeout="3000" maxConnectionsToServer="1">
		<localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="10000" />
		<hosts>
			<host name="hal9001" cachePort="22233" />
		</hosts>
		<securityProperties mode="Transport" />
	</dataCacheClient>
	<connectionStrings>
		<add name="NexusCoreConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NexusCore;Integrated Security=True;Application Name=NexusWeb" providerName="System.Data.SqlClient" />
		<add name="SqlDependencyConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NexusCore;User ID=root;Password=bob;Application Name=NexusWeb" providerName="System.Data.SqlClient" />
		<add name="GeoDataConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GeoData;Integrated Security=True;Application Name=NexusWeb" providerName="System.Data.SqlClient" />
		<add name="NexusAuditLogConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NexusAuditLog;Integrated Security=True;Application Name=NexusWeb" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<trace enabled="true" />
		<pages enableViewState="false" clientIDMode="AutoID" />
		<sessionState allowCustomSqlDatabase="true" cookieName="ASP.NET_Session" mode="SQLServer" sqlConnectionString="Server=.\SQLEXPRESS;Database=SessionState;Integrated Security=True;Application Name=NexusWeb" />
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		<httpRuntime enableVersionHeader="false" />
	</system.web>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Warning" propagateActivity="false">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
			<add initializeData="web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<remove name="Default" />
				<add initializeData="nexusweb.log" type="System.Diagnostics.TextWriterTraceListener" name="myListener" traceOutputOptions="DateTime">
					<filter type="" />
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<httpProtocol>
			<customHeaders>
				<add name="P3P" value="&quot;/w3c/p3p.xml&quot;" />
				<remove name="X-AspNet-Version" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rewriteMaps>
				<rewriteMap name="/newsfeed" />
			</rewriteMaps>
			<rules>
				<rule name="WebSocket Match" enabled="false" patternSyntax="ECMAScript">
					<match url="^(.*)" />
					<conditions>
						<add input="{HTTP_UPGRADE}" matchType="Pattern" pattern="WebSocket" ignoreCase="true" negate="false" />
					</conditions>
					<action type="Rewrite" url="/cgi_bin/WSIsapiFilter.dll" />
					<serverVariables>
						<set name="WSID" value="{R:1}" />
					</serverVariables>
				</rule>
				<rule name="WebSocket Redirect" enabled="true" patternSyntax="Wildcard">
					<match url="newsfeed" />
					<action type="Rewrite" url="cgi_bin/wsisapifilter_x64.dll" />
				</rule>
			</rules>
		</rewrite>
		<caching>
			<profiles>
				<add extension=".svc" location="Any" varyByHeaders="" varyByQueryString="" />
			</profiles>
		</caching>
	</system.webServer>
	<system.serviceModel>
		<!--protocolMapping>
			<add scheme="ws" binding="webSocketBinding" />
		</protocolMapping>
		<extensions>
			<bindingElementExtensions>
				<add name="webSocketTransport" type="WebSocketBinding.Configuration.WebSocketTransportElement, WebSocketBinding" />
			</bindingElementExtensions>
			<bindingExtensions>
				<add name="webSocketBinding" type="WebSocketBinding.Configuration.WebSocketBindingCollectionElement, WebSocketBinding" />
			</bindingExtensions>
		</extensions-->
		<diagnostics performanceCounters="All">
			<messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" />
			<endToEndTracing activityTracing="false" messageFlowTracing="false" />
		</diagnostics>
		<behaviors>
			<endpointBehaviors>
				<behavior name="AjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="GenericServiceBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
			<!--add name="ws" transportConfigurationType="WebSocketBinding.WSHostedTransportConfiguration, WebSocketBinding" /-->
		</serviceHostingEnvironment>
		<services>
			<service behaviorConfiguration="GenericServiceBehavior" name="NexusWeb.Services.ValidationFunctions">
				<endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="NexusWeb.Services.ValidationFunctions" />
			</service>
			<service behaviorConfiguration="GenericServiceBehavior" name="NexusWeb.Services.DeviceService">
				<endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="NexusWeb.Services.DeviceService" />
			</service>
			<service behaviorConfiguration="GenericServiceBehavior" name="NexusWeb.Services.AccountService">
				<endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="NexusWeb.Services.AccountService" />
			</service>
			<service behaviorConfiguration="GenericServiceBehavior" name="NexusWeb.Services.MessageFeed">
				<endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="NexusWeb.Services.MessageFeed" />
			</service>
			<service behaviorConfiguration="GenericServiceBehavior" name="NexusWeb.Services.PhotoService">
				<endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="NexusWeb.Services.PhotoService" />
			</service>
			<service behaviorConfiguration="GenericServiceBehavior" name="NexusWeb.Services.GeoService">
				<endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="NexusWeb.Services.GeoService" />
			</service>
		</services>
		<bindings>
			<customBinding>
				<binding name="CustomBinding_IAdminChannel">
					<binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</binaryMessageEncoding>
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
				</binding>
			</customBinding>

		</bindings>
		<client>
			<endpoint address="http://core.nexus-im.com/Services/AdminChannel.svc" binding="customBinding" bindingConfiguration="CustomBinding_IAdminChannel" contract="AdminChannel.IAdminChannel" name="CustomBinding_IAdminChannel">
				<identity>
					<dns value="core.nexus-im.com" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<applicationSettings>
		<NexusWeb.Properties.Settings>
			<setting name="FireEagle_UnauthorizedRequestToken" serializeAs="String">
				<value>https://fireeagle.yahooapis.com/oauth/request_token</value>
			</setting>
			<setting name="FireEagle_ConsumerKey" serializeAs="String">
				<value>SmkThhsxhnJK</value>
			</setting>
			<setting name="FireEagle_ConsumerSecret" serializeAs="String">
				<value>zMsAXNg8lUyT0gXaWooJXgUMGgH5ZEB7</value>
			</setting>
			<setting name="FireEagle_GeneralPurposeToken" serializeAs="String">
				<value>A0iiaSMKqMvT</value>
			</setting>
			<setting name="FireEagle_GeneralPurposeSecret" serializeAs="String">
				<value>sGo8oITfBJsdC0WI3IIEKrzZZUBhPuD3</value>
			</setting>
			<setting name="UnixEpoch" serializeAs="String">
				<value>1970-12-01</value>
			</setting>
			<setting name="RecaptchaPublicKey" serializeAs="String">
				<value>6LdgTAwAAAAAACmYjmTcFFohp3HaMKGEvfJkF_xZ</value>
			</setting>
			<setting name="RecaptchaPrivateKey" serializeAs="String">
				<value>6LdgTAwAAAAAANoXiFB7nbPttaOmalDuumyyNoX0</value>
			</setting>
			<setting name="FacebookAPIKey" serializeAs="String">
				<value>30d96384051f05491f8aa8f0d22f6361</value>
			</setting>
			<setting name="FacebookSecret" serializeAs="String">
				<value>503ad85c38a4c767765ac3cdb4247e51</value>
			</setting>
			<setting name="SecureReferrerAcceptRegex" serializeAs="String">
				<value>(localhost|im.adrensoftware.com|5.64.115.83|dev.nexus-im.com)</value>
			</setting>
			<setting name="LongPollTimeout" serializeAs="String">
				<value>60000</value>
			</setting>
			<setting name="BingMapsApiKey" serializeAs="String">
				<value>AsS2Xi9W1iyJWYJv67X3CnPtgqpQrITIGqlBqKBuSkRh0benHS3vkAaC2V-s_2nP</value>
			</setting>
			<setting name="GoogleOAuthConsumerKey" serializeAs="String">
				<value>nexus-im.com</value>
			</setting>
			<setting name="GoogleOAuthConsumerSecret" serializeAs="String">
				<value>KQ9Wv2oRutAWOQ64uPGPsob7</value>
			</setting>
			<setting name="EnableAppFabricCache" serializeAs="String">
				<value>False</value>
			</setting>
		</NexusWeb.Properties.Settings>
	</applicationSettings>
	<location path="cgi_bin">
	</location>
</configuration>